<div class="card-columns container-fluid">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/led_on.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">LED</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">

            </li>
        </ul>
        <div class="card-body">
            <a class="card-link" [routerLink]="['../led']">详情</a>
            <a class="card-link" [routerLink]="['../product-management']">管理</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/fs_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">风扇</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            </li>
        </ul>
        <div class="card-body">
            <a class="card-link" [routerLink]="['../fs']">详情</a>
            <a class="card-link" [routerLink]="['../product-management']">管理</a>
        </div>

    </div>



    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/ac_on.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">空调</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
        </ul>
        <div class="card-body">
            <a class="card-link" [routerLink]="['../ac']">详情</a>
            <a class="card-link" [routerLink]="['../product-management']">管理</a>
        </div>
    </div>
</div>