<div class="d-flex login-content login-page page">
    <form [formGroup]="myForm">
        <h2 class="d-flex justify-content-center" style="font-weight: bold;color: aliceblue;">User login</h2>
        <p *ngIf="myForm.invalid" class="text-danger">表单无效！</p>
        <p>{{name$ | async}}</p>
        <div class="form-group" style="color:white;">
            <label for="userName">用户名</label>
            <input type="text" class="form-control" id="userName" aria-describedby="输入用户名" name="userName"
                [formControl]="name" [ngClass]="{'is-invalid':name.invalid,'is-valid':name.valid}">
            <div class="valid-feedback">
                用户名格式正确！
            </div>
            <div class="invalid-feedback">
                <span *ngIf="name.hasError('required')">用户名必须填写</span>
                <span *ngIf="!name.hasError('required') && name.hasError('invalidUser')">用户名必须以a开头！</span>
            </div>
        </div>
        <div class="form-group" style="color:white;">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" [formControl]="telephone"
                [ngClass]="{'is-invalid':telephone.invalid,'is-valid':telephone.valid}">
            <div class="valid-feedback">
                密码填写正确！
            </div>
            <div class="invalid-feedback">
                密码必须大于5位
            </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-block" (click)='login()'>提
            交</button>
    </form>
</div>