<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand a">F5之家</a>
        <a class="navbar-brand" [routerLink]="['/centre']">首页</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>
        </div>
    </nav>
</header>
<article class="row">
    <nav class="list-group col-md-2">
        <a class="list-group-item list-group-item-danger" [routerLink]="['wc2']">设备信息</a>
        <a class="list-group-item list-group-item-warning" [routerLink]="['product-detail2']">设备实况</a>
        <a class="list-group-item list-group-item-action list-group-item-dark" [routerLink]="['exit']">退出</a>
    </nav>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</article>
<footer>
    <a class="buttom">copyright©2020-2021 F5智能科技有限公司 版权所有(纯属虚构)</a>
</footer>